body {
    background-color: #1b1b1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box {
    width: 450px;
    height: 450px;
    border: 5px solid white;
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
}


#ball {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 20px;
    top: 150px;
    cursor: pointer;
    transition: 0.5s;
}

#text {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}


p {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

input{
    width:230px;
    height:20px;
}


button {
    width:150px;
    height:30px;
    color:black;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}










